@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
	height: 100vh;
	position: relative;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Varela Round', sans-serif;
	text-align: center;
}